# Task 默认使用shell执行
# - build
# - update
# - deploy

# 环境变量 (会自动注入到 Task 运行的 shell 环境中)
variables: 
    CI_REPOSITORY_NAME: git.com/${CI_PROJECT_PATH}
    CI_ROOTDIR: "build"
    GIT_USER: ${GIT_USER}
    GIT_PASSPWORD: ${GIT_PASSPWORD}
    TOKEN: ${TOKEN}

stages:
    - build
    - test
    - deploy

build_self:
    stage: build
    script:
        # - echo "$(whoami)"
        - sudo rm -rf /home/raspi_scripts
        - sudo git clone http://${TOKEN}@gitlab.chinared.xyz/cyril/raspi_scripts.git /home/raspi_scripts
        - cd /home/raspi_scripts/
        - sudo bash -e envs/centos_environment_config.sh
        - sudo bash -e system/centos_system_config.sh
    only:
        - master
    tags:
        - slave-centos8-runner

test_self:
    stage: test
    script:
        - echo "test 1"
        - echo "test 2"
    only:
        - master
    tags:
        - slave-centos8-runner

deploy_self:
    stage: deploy
    script:
        - echo "deploy done"
    only:
        - master
    tags:
        - slave-centos8-runner 

