# Task 默认使用shell执行
# - build
# - update
# - deploy

# 环境变量 (会自动注入到 Task 运行的 shell 环境中)
variables: 
    CI_REPOSITORY_NAME: git.com/${CI_PROJECT_PATH}
    CI_ROOTDIR: "build"

stages:
    - build
    - test
    - deploy

build_self:
    stage: build
    script:
        - echo "$(whoami)"
        - sudo rm -rf /home/raspi_centos_script
        - sudo git clone http://cyril:Cyril2019@gitlab.chinared.xyz/cyril/raspi_centos_script.git /home/raspi_centos_script
        - cd /home/raspi_centos_script/
        - sudo bash envs/centos_environment_config.sh
        - sudo bash system/centos_system_config.sh
    only:
        - master
    tags:
        - slave-centos8-runner

test_self:
    stage: test
    script:
        - echo "test 1"
        - echo "test 2"
    only:
        - master
    tags:
        - slave-centos8-runner

deploy_self:
    stage: deploy
    script:
        - echo "deploy done"
    only:
        - master
    tags:
        - slave-centos8-runner 

